In [49]:
#Program to implement reduce function 
def myreduce(num):
    l=list(range(1,number+1))
    sum=0
    for element in l:
        sum+=element
        
    return l,sum

number=int(input("enter the number of natural numbers: "))
output_value=myreduce(number)

print("Natural numbers :",output_value[0])
print("Sum of natural numbers  are :",output_value[1])

enter the number of natural numbers: 7
Natural numbers : [1, 2, 3, 4, 5, 6, 7]
Sum of natural numbers  are : 28

In [ ]:
a=5
b=4
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
y=lambda a, b: a+b
print(y)

The sum of the list elements is : <function <lambda> at 0x7fcaeee87050>

In [ ]:
#sum of natural numbers using lambda function with reduce 
print("Input:")
number=int(input("Please insert the number :"))

num_list= list(range(1,(number+1)))
# Import reduce function 
from functools import reduce
sum_of_elements = reduce((lambda x, y: x + y), num_list)

#Output
print("Output:")
print("List of First n Natural numbers are:",num_list)
print("Sum of List elements are :",sum_of_elements)

Input:
Please insert the number :6
Output:
List of First n Natural numbers are: [1, 2, 3, 4, 5, 6]
Sum of List elements are : 21

In [ ]:
#Program to filter out multiples of 7 from a list of natural numbers
number=int(input("Please insert the number: "))
num_list=list(range(1,number+1))
def myfilter(num_list):
    divisible_by_seven=[]

    
    for element in num_list:
        if(element%7==0):
                divisible_by_seven.append(element)
                
    return divisible_by_seven
output_value=myfilter(num_list)
print("List of numbers:",num_list)
print("List of numbers, which are even multiples of 7 : ",output_value)

Please insert the number: 14
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
List of numbers, which are even multiples of 7 :  [7, 14]

In [ ]:
# Filter function with lambda function to find multiples of 7
number=int(input("Please insert the number: "))

num_list=list(range(1,number+1))

divisible_by_seven=list(filter(lambda x: x%7==0,num_list))

print("List of numbers:",num_list)
print("List of Even numbers, which are multiples of 7 are:",divisible_by_seven)

Please insert the number: 10
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Even numbers, which are multiples of 7 are: [7]

In [ ]:
7#Solution

#Section 1
word="AcadGild"
#list Comprehension
output_list=[w.upper() for w in list(word)]
print("Output:")
print(output_list)

#Section 2
word_1=list('xyz')
word_2=[x*n for x in word_1 for n in range(1,5) ]
print(word_2)

#Section 3
word_3=[x*n for n in range(1,5) for x in word_1 ]
print(word_3)

#Section 4
number=[2,3,4]
number_1=[[x+n] for x in number for n in range(0,3)]
print(number_1)

#Section 5
number_2=[2,3,4,5]
number_3=[[x+n for n in range(0,4)] for x in number_2 ]
print(number_3)

#Section 6
number_4=[1,2,3]
number_5= [(b,a) for a in number_4 for b in number_4]
print(number_5)

Output:
['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]